body {
  margin: 0;
  padding: 0;
  background: black;
}

#root {
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
  display: flex;
  place-content: center;
  place-items: center;
  background: black;
  margin: 0;
  padding: 0;
}
